<div class="container">
  <div class="row">

    <div class="col-lg-5 listings">
      <h3>Here are all the Current Listings:</h3>

      <ul class="unstyled-list">
        {{#each listing in model}}
        <li>
          <div class="well listWell">
              {{#link-to 'listing' listing.id}}
              <div id="listPic">
                <img src={{listing.image1}} height="250" width="350">
              </div>
              <p id="listPrice">${{listing.price}}</p>
              <div id="hostPic">
                <img src={{listing.image4}} class="img-circle" height="50" width="50">
              </div>
              <p id="listName">{{listing.name}}</p>
              <p id="listDescription">{{listing.description}}</p>
              {{/link-to}}
          </div>
        </li>
        {{/each}}
      </ul>

      <h4>{{#link-to 'new-listing'}}Add a New Yard Listing{{/link-to}}</h4>
    </div><!--end of div listings -->

    <div class="col-lg-7 new-listing-form">
      {{outlet}}
    </div><!--end of div new-listing form -->
  </div><!-- end of row -->
</div><!end of main container -->
