


<div class="col-lg-10 col-lg-offset-1">
  <h3 class="form-heading">New Yard Listing</h3>
  <hr>
  <form>
    <div class="form-group">
      <label for="name" >Give Your Yard A Name</label>
      {{input value=name id="name" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="ownerName">Owner's Name</label>
      {{input value=ownerName id="ownerName" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="mapAddress">Yard's Address</label>
      {{input value=mapAddress id="mapAddress" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="description">Describe Your Yard</label>
      {{textarea value=description id="description" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="price">Price per night(USD)</label>
      {{input value=price id="price" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="guestNumber">Number of Guests Allowed</label>
      {{input value=guestNumber id="guestNumber" class="form-control"}}
    </div>

    <div class="control-group form-inline">
      <label for="toilet">Toilet available?</label>
      {{view "select" content=toilets value=toilet}}
    </div>
    
    <div class="control-group form-inline">
      <label for="shower">Shower available?</label>
      {{view "select" content=showers value=shower}}
    </div>
    
    <div class="control-group form-inline">
      <label for="outlet">Electricity available?</label>
      {{view "select" content=outlets value=outlet}}
    </div>
    
    <div class="control-group form-inline">
      <label for="pet">Pets allowed?</label>
      {{view "select" content=pets value=pet}}
    </div>

    <div class="form-group image-inputs">
      <label for="image1">Image URL</label>
      {{input value=image1 id="image1" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="image2">Image URL</label>
      {{input value=image2 id="image2" class="form-control"}}
    </div>


    <div class="form-group">
      <label for="image3">Image URL</label>
      {{input value=image3 id="image3" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="image4">Host Image URL</label>
      {{input value=image4 id="image4" class="form-control"}}
    </div>



    <button class="btn btnGreen btn-stretch" {{action 'addListing'}}>Submit</button>
  </form>
</div><!--end of col-12 -->
